@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #57cc99;
    --color-danger: #A50B0B;
    --color-success: #1b9c5c;
    --color-warning: #FDC500;
    --color-white: #fff;
    --color-gray: #A4A3A3;
    --color-dark: #1e1e1f;
    --color-background: #EDEAE0;
    --color-dashboard: #c7f9dc;
    --color-blue-1: #00296B;
    --color-blue-2: #00509D;
    --color-yellow: #FFD500;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --font-title: 5.5rem;
    --font-subtitle: 1.5rem;
    --font-size: 1.1rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a {
    cursor: pointer;
}

a:visited {
    color: var(--color-white);
}

i {
    font-size: 24px;
}

.container {
    display: flex;
}

/* =============================
   SIDEBAR
   ============================= */
.sidebar {
    background: var(--color-white);
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 270px;
    height: 100vh;
    position: fixed;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    transition: all ease 500ms;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    gap: 1rem;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.logo .site-name {
    font-size: 1.5rem;
    display: flex;
}

.logo h3 span {
    color: var(--color-primary);
}

.links-sidebar {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links-sidebar .box-icon {
    border-radius: var(--border-radius-1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-sidebar {
    font-size: 1.1rem;
}

.links-sidebar .box-icon.active {
    border-radius: var(--border-radius-1);
    background: var(--color-primary);
    color: var(--color-white);
}

.links-sidebar:last-child {
    margin-top: auto;
}

.links-sidebar:hover .box-icon.active span {
    color: var(--color-white);
}

.links-sidebar:hover p{
    color: var(--color-primary);
}

.links-sidebar:hover span {
    color: var(--color-primary);
}

/* =============================
   MIN SIDEBAR
   ============================= */
.sidebar.closed {
    width: 110px;
}

.sidebar.closed p{
    display: none;
}

/* =============================
   MAIN
   ============================= */
.main-container {
    background: var(--color-dashboard);
    /* width: calc(100% - 270px); */
    width: 100%;
    margin-left: 270px;
    transition: all ease 500ms;
}

/* =============================
   HEADER MAIN
   ============================= */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 180px;
    padding: 3rem 2rem;
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-message {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-icon {
    font-size: var(--font-subtitle);
    cursor: pointer;
}

.welcome-message h3 {
    font-size: 1.5rem;
}

.right-header {
    display: flex;
    gap: 7rem;
    font-size: 1rem;
}

.date-hour {
    display: flex;
    gap: 4rem;
}

.date,
.hour {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.date p,
.hour p {
    font-size: 1.1rem;
}

.home-notifications{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home,
.notifications {
    text-decoration: none;
}

/* =============================
   DASHBOARD
   ============================= */
.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    transform: translateY(-70px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.card {
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all ease 300ms;
}

.card.reservations,
.card.courts,
.card.promotions,
.card.customers {
    height: 240px;
    padding: 1.5rem;
}

.card.statistics {
    height: 520px;
}

.card-title {
    display: flex;
    gap: 2rem;
    color: var(--color-gray);
    align-items: center;
}

.card-title span {
    border-radius: var(--border-radius-1);
    color: var(--color-white);
    padding: 0.5rem;
}

.card-title.reservations span {
    background: var(--color-yellow);
}

.card-title.courts span{
    background: var(--color-success);
}

.card-title.promotions  span{
    background: var(--color-blue-2);
}

.card-title.customers span {
    background: var(--color-blue-1);
}

.card-title.statistics span {
    background: var(--color-warning); 
}

/* =============================
   MEDIA QUERIES 1250
   ============================= */
@media screen and (max-width: 1250px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 110px;
    }

    .logo .site-name {
        display: none;
    }
    
    .sidebar p{
        display: none;
    }

    .main-container {
        margin-left: 110px;
    }

    .right-header {
        gap: 4rem;
    }

    .date-hour {
        gap: 1.5rem;
    }

    .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 674px) {   
    .right-header {
        gap: 2rem;
    }

    .date-hour {
        gap: 1rem;
    }

    .date-hour i {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4rem;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: transform ease 300ms ;
    }

    .show-sidebar {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .links-sidebar:last-child {
        margin-top: 0;
    }

    .links-sidebar {
        padding: 0;
      }

    .main-container {
        margin-left: 0;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 468px) {
    .right-header {
        gap: 1rem;
      }
}