@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
:root {
    --color-primary: #57cc99;
    --color-danger: #A50B0B;
    --color-success: #1b9c5c;
    --color-warning: #FDC500;
    --color-white: #fff;
    --color-gray: #A4A3A3;
    --color-dark: #1e1e1f;
    --color-background: #EDEAE0;
    --color-background-sec: #c7f9dc;
    --color-blue-1: #00296B;
    --color-blue-2: #00509D;
    --color-yellow: #FFD500;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --font-title: 5.5rem;
    --font-subtitle: 1.5rem;
    --font-size: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-top {
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('../images/about/renith-r-A9VpotrPr1k-unsplash.jpg');
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-size: auto, auto;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 85vh;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 2rem;
}

.icon-box img {
    width: 50px;
    height: 50px;
}

.links-box {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    font-size: var(--font-size);
}

.links-box a {
    color: var(--color-white);
    transition: all ease 300ms;
}

.links-box a:hover {
    transform: scale(1.05);
    transition: all ease 300ms;
    color: var(--color-primary);
}

.links-box a.active {
    border-bottom: 2px solid var(--color-white);
}

.links-box a:hover.active {
    border-bottom: 2px solid var(--color-primary);
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-box .btn-reservation {
    padding: 0.5rem 2.5rem;
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 99px;
    text-align: center;
}

.btn-box .btn-reservation:hover {
    transform: scale(1.05);
    transition: all ease 300ms;
    border: 2px solid var(--color-primary);
}

.user-box {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    gap: 1rem;
}

.user-box i {
    color: var(--color-white);
}

.bx-menu {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title-header {
    font-size: 3rem;
    color: var(--color-white);
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.block-title {
    font-size: 2rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-1 {
    padding: 10rem 10rem 0;
}

.block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.block-content p {
    font-size: var(--font-size);
}

.block-2 {
    /* background: var(--color-background-sec); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10rem;
}

.left-column {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 600px;
}

.left-column .block-2-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.left-column .block-2-img.second {
    transform: translateY(50%) translateX(-50%);
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    height: 600px;
}

.right-column .block-title {
    color: var(--color-primary);
}

.right-column .block-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.right-column .block-text .text {
    font-size: var(--font-size);
    color: var(--color-gray);
}

.block-3 {
    display: flex;
    padding: 0 10rem 10rem;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}


.footer {
    background:
    linear-gradient( rgb(0, 0, 0), rgba(6, 66, 6, 0.459)),url('../images/footer/ryan-searle-qjrjJnFypa0-unsplash.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 0;
}

.footer-logo img {
    height: 100px;
    margin-bottom: 3.5rem;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 90%;
    padding: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.borderFooter{
    width: 70%;
    height: 1px;
    background-color: white;
    margin-top: 3rem;
}

.creditos{
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
}

@media screen and (max-width: 1200px) {
    .bx-menu {
        display: flex;
    }
    
    .links-box {
        display: none;
        transform: translateY(100%);
        flex-direction: column;
        font-size: 3rem;
        gap: 3rem;
        backdrop-filter: blur(20px);
    }

    .links-box.active {
        display: flex;
    }
}